.elementor-404 .elementor-element.elementor-element-162ff19{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--overflow:hidden;--overlay-opacity:1;--overlay-mix-blend-mode:multiply;}.elementor-404 .elementor-element.elementor-element-162ff19:not(.elementor-motion-effects-element-type-background), .elementor-404 .elementor-element.elementor-element-162ff19 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-404 .elementor-element.elementor-element-162ff19::before, .elementor-404 .elementor-element.elementor-element-162ff19 > .elementor-background-video-container::before, .elementor-404 .elementor-element.elementor-element-162ff19 > .e-con-inner > .elementor-background-video-container::before, .elementor-404 .elementor-element.elementor-element-162ff19 > .elementor-background-slideshow::before, .elementor-404 .elementor-element.elementor-element-162ff19 > .e-con-inner > .elementor-background-slideshow::before, .elementor-404 .elementor-element.elementor-element-162ff19 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{background-image:url("../images/H-tb-grains.png");--background-overlay:'';background-repeat:repeat;background-size:100% auto;}.elementor-404 .elementor-element.elementor-element-82d4505{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-404 .elementor-element.elementor-element-2f45cf7{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-404 .elementor-element.elementor-element-e85bbe6{font-family:"Rubik", Sans-serif;font-size:16px;font-weight:400;color:#FFBE41;}.elementor-404 .elementor-element.elementor-element-0eaba27{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-widget-image-box .elementor-image-box-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
					 .elementor-widget-image-box:has(:focus) .elementor-image-box-title{color:var( --e-global-color-primary );}.elementor-widget-image-box .elementor-image-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-404 .elementor-element.elementor-element-9ea8420.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-404 .elementor-element.elementor-element-9ea8420.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-404 .elementor-element.elementor-element-9ea8420.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-404 .elementor-element.elementor-element-9ea8420 .elementor-image-box-wrapper .elementor-image-box-img{width:60px;}.elementor-404 .elementor-element.elementor-element-9ea8420 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-404 .elementor-element.elementor-element-9ea8420 .elementor-image-box-title{font-family:"Rubik", Sans-serif;font-size:16px;font-weight:400;color:var( --e-global-color-secondary );}.elementor-404 .elementor-element.elementor-element-35ccfac.elementor-position-right .elementor-image-box-img{margin-left:15px;}.elementor-404 .elementor-element.elementor-element-35ccfac.elementor-position-left .elementor-image-box-img{margin-right:15px;}.elementor-404 .elementor-element.elementor-element-35ccfac.elementor-position-top .elementor-image-box-img{margin-bottom:15px;}.elementor-404 .elementor-element.elementor-element-35ccfac .elementor-image-box-wrapper .elementor-image-box-img{width:60px;}.elementor-404 .elementor-element.elementor-element-35ccfac .elementor-image-box-img img{transition-duration:0.3s;}.elementor-404 .elementor-element.elementor-element-35ccfac .elementor-image-box-title{font-family:"Rubik", Sans-serif;font-size:16px;font-weight:400;color:var( --e-global-color-secondary );}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-404 .elementor-element.elementor-element-1239f41{text-align:right;}.elementor-404 .elementor-element.elementor-element-1239f41 img{width:480px;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group > label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-message{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-widget-form .e-form__indicators__indicator__progress__meter{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:15px;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-15px;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group.recaptcha_v3-bottomleft, .elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-404 .elementor-element.elementor-element-872042f .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-404 .elementor-element.elementor-element-872042f .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-404 .elementor-element.elementor-element-872042f .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-type-html{padding-bottom:0px;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group .elementor-field{color:#177908;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group .elementor-field, .elementor-404 .elementor-element.elementor-element-872042f .elementor-field-subgroup label{font-family:"Rubik", Sans-serif;font-size:16px;font-weight:400;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#F7E4BF;border-width:0px 0px 0px 0px;border-radius:8px 8px 8px 8px;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-field-group .elementor-select-wrapper select{background-color:#F7E4BF;border-width:0px 0px 0px 0px;border-radius:8px 8px 8px 8px;}.elementor-404 .elementor-element.elementor-element-872042f .e-form__buttons__wrapper__button-next{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-button[type="submit"]{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-message{font-family:"Rubik", Sans-serif;font-weight:400;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-message.elementor-message-success{color:#FFF6EF;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-message.elementor-message-danger{color:#FFF6EF;}.elementor-404 .elementor-element.elementor-element-872042f .elementor-message.elementor-help-inline{color:#FFF6EF;}.elementor-404 .elementor-element.elementor-element-872042f{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-404 .elementor-element.elementor-element-443ea9a{--display:flex;--justify-content:center;}.elementor-404 .elementor-element.elementor-element-c345ce0{text-align:right;}.elementor-404 .elementor-element.elementor-element-c345ce0 img{width:480px;border-radius:15px 15px 15px 15px;}.elementor-404 .elementor-element.elementor-element-1704072{--display:flex;}.elementor-404 .elementor-element.elementor-element-6b52457{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-404 .elementor-element.elementor-element-40556a7{--divider-border-style:solid;--divider-color:#FFBE41;--divider-border-width:1px;}.elementor-404 .elementor-element.elementor-element-40556a7 .elementor-divider-separator{width:100%;}.elementor-404 .elementor-element.elementor-element-4548c2d{z-index:2;}.elementor-404 .elementor-element.elementor-element-4548c2d img{width:235px;}.elementor-404 .elementor-element.elementor-element-798492f{--divider-border-style:solid;--divider-color:#FFBE41;--divider-border-width:1px;}.elementor-404 .elementor-element.elementor-element-798492f .elementor-divider-separator{width:100%;}.elementor-404 .elementor-element.elementor-element-c5568bf{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-404 .elementor-element.elementor-element-529ebfd{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 015px;--row-gap:0px;--column-gap:015px;}.elementor-404 .elementor-element.elementor-element-f307a2c{--display:flex;}.elementor-404 .elementor-element.elementor-element-0f3543c{text-align:center;}.elementor-404 .elementor-element.elementor-element-0f3543c img{width:65px;}.elementor-404 .elementor-element.elementor-element-f3a723c{--display:flex;}.elementor-404 .elementor-element.elementor-element-d608358{text-align:center;}.elementor-404 .elementor-element.elementor-element-d608358 img{width:65px;}.elementor-404 .elementor-element.elementor-element-ee0473b{--display:flex;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-404 .elementor-element.elementor-element-8c1b576 > .elementor-widget-container{--e-transform-rotateZ:-90deg;}.elementor-404 .elementor-element.elementor-element-8c1b576 .elementor-heading-title{font-family:"Quanta Grotesk Pro", Sans-serif;font-size:24px;font-weight:normal;font-style:italic;letter-spacing:0.5px;color:var( --e-global-color-secondary );}.elementor-404 .elementor-element.elementor-element-57080a6{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-404 .elementor-element.elementor-element-86ec84b{--display:flex;}.elementor-404 .elementor-element.elementor-element-3bf7cb7{text-align:center;}.elementor-404 .elementor-element.elementor-element-3bf7cb7 img{width:65px;}.elementor-404 .elementor-element.elementor-element-90180d5{--display:flex;}.elementor-404 .elementor-element.elementor-element-c969db0{text-align:center;}.elementor-404 .elementor-element.elementor-element-c969db0 img{width:65px;}.elementor-404 .elementor-element.elementor-element-911aff5{--display:flex;}.elementor-404 .elementor-element.elementor-element-90fe119{--grid-template-columns:repeat(0, auto);--icon-size:35px;--grid-column-gap:20px;}.elementor-404 .elementor-element.elementor-element-90fe119 .elementor-widget-container{text-align:center;}.elementor-404 .elementor-element.elementor-element-90fe119 .elementor-social-icon{background-color:#02010100;--icon-padding:0em;}@media(min-width:768px){.elementor-404 .elementor-element.elementor-element-1704072{--content-width:1240px;}.elementor-404 .elementor-element.elementor-element-6b52457{--content-width:1250px;}.elementor-404 .elementor-element.elementor-element-c5568bf{--content-width:1240px;}}@media(max-width:1024px){.elementor-404 .elementor-element.elementor-element-c345ce0 img{border-radius:12px 12px 12px 12px;}}@media(max-width:767px){.elementor-404 .elementor-element.elementor-element-9ea8420 .elementor-image-box-img{margin-bottom:15px;}.elementor-404 .elementor-element.elementor-element-35ccfac .elementor-image-box-img{margin-bottom:15px;}.elementor-404 .elementor-element.elementor-element-1239f41{text-align:left;}.elementor-404 .elementor-element.elementor-element-1239f41 img{border-radius:12px 12px 12px 12px;}.elementor-404 .elementor-element.elementor-element-1fbbe57{width:100%;max-width:100%;}.elementor-404 .elementor-element.elementor-element-e715583{width:100%;max-width:100%;}.elementor-404 .elementor-element.elementor-element-02f4dda{width:100%;max-width:100%;}.elementor-404 .elementor-element.elementor-element-f41701f{width:100%;max-width:100%;}}/* Start custom CSS for container, class: .elementor-element-162ff19 *//*Contact*/
#contact{
    padding: 6rem 0 3rem 0;
}

#contact h3{
    font-family: "Clash Display";
    font-weight: 600;
    font-size: 40px;
    color: #FFBE41;
    text-transform: uppercase;
}

#contact h3 span{
    font-family: "Quanta Grotesk Pro";
    font-weight: 400; 
    font-style: italic;
    font-size: 42px;
    text-transform: lowercase;
    padding-right: 8px;
}

#contact p{
    width: 500px;
}

#contact .info-wrap{
    margin-bottom: 20px;
}

#contact .info-block .elementor-image-box-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

#contact .info-block .elementor-image-box-img{
    margin-right: 0;
}

#contact input::placeholder, #contact textarea::placeholder {
    opacity: 1 !important;
}

#contact .elementor-button{
    border-radius: 12px;
    width: 265px;
    height: 50px;
    position: relative;
    background: #FF6514;
    border: 1px solid #FF6514;
    margin-top: 10px;
    cursor: pointer;
}

#contact .elementor-button .elementor-button-text{
    width: 100%;
}

#contact .elementor-button .btn-link{
    font-size: 24px;
    font-weight: bold;
    font-family: "Clash Display";
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: #F7E4BF;
    overflow: hidden;
    letter-spacing: 1px;
}

#contact .elementor-button .btn-link div{
    transition: all .3s ease-in-out;
    position: relative;
    color: #FFF6EF;
    overflow: hidden;
}

#contact .elementor-button:hover .btn-link div{
    opacity: 0;
    transform: translate(0, -100%);
}

#contact .elementor-button .btn-link:before{
    content: attr(data-hover);
    width: 100%;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all .3s ease-in-out;
    color: #FFF6EF;
    position: absolute;
    white-space: nowrap;
}

#contact .elementor-button:hover .btn-link:before{
    opacity: 1;
    transform: translate(0, 0);
}

#contact .contact-img-xs{
    display: none;
}

#contact .divider-wrap .mee-img{
    position: relative;
    top: 30px;
}

#contact .divider-wrap .elementor-divider-separator{
    width: 75%;
    margin: auto;
}

#contact .video-wrap{
    margin-top: -5rem;
}

#contact .video-wrap .video-col{
    width: 44%;
}

#contact .video-wrap .text-col{
    width: 12%;
}

#contact .video-wrap .video-block{
    position: relative;
}

#contact .video-wrap .video-block .play-icon{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: grid;
    align-content: center;
}

#contact .video-wrap .text-col .username{
    position: relative;
    top: 65%;
}

#contact .social-wrap{
    margin-top: 20px;
}

/*Responsive*/
@media (max-width: 1360px) {
#contact .follow-wrap{
    width: 95%;
    margin: auto;
}
    
}

@media (max-width: 1280px) {
#contact .contact-wrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#contact h3 span{
    font-size: 40px;
}

#contact h3{
    font-size: 38px;
}

#contact h5{
    font-size: 22px;
}

#contact .mee-img{
    width: 200px;
}

}

@media (max-width: 1140px) {
#contact h3 span{
    font-size: 38px;
}

#contact h3{
    font-size: 36px;
}

#contact h5{
    font-size: 20px;
}

#contact .contact-wrap > .e-con-inner{
    gap: 80px;
}    
    
#contact .contact-wrap .left-col{
    width: 55%;
}   

#contact .contact-wrap .right-col{
    width: 45%;
}
    
#contact .follow-wrap .video-col > .e-con-inner{
    gap: 10px;
}

#contact .mee-img{
    width: 180px;
}
   
}

@media (max-width: 1080px) {
#contact h3 span{
    font-size: 36px;
}

#contact h3{
    font-size: 34px;
}

#contact h5{
    font-size: 18px;
}

#contact p{
    width: auto;
}

#contact .info-wrap > .e-con-inner{
    flex-direction: column;
    gap: 10px;
}
  
}

@media (max-width: 980px) {
#contact h3 span{
    font-size: 34px;
}

#contact h3{
    font-size: 32px;
}

#contact h5{
    font-size: 20px;
}

#contact{
    padding: 6rem 0 6rem 0;
}

#contact .contact-wrap > .e-con-inner{
    gap: 60px;
}  

#contact .follow-wrap{
    width: 90%;
}

#contact .divider-wrap .elementor-divider-separator{
    width: 90%;
}

#contact .divider-wrap .mee-img{
    top: 0;
}

#contact .mee-img{
    width: 160px;
}

#contact .divider-wrap{
    order: 1;
}

#contact .social-wrap{
    order: 2;
    margin-top: 0;
}

#contact .video-wrap{
    margin-top: 0;
    order: 3;
}

#contact .video-wrap > .e-con-inner{
    flex-direction: column;
    gap: 20px;
}

#contact .video-wrap .video-col{
    width: 85%;
    margin: auto;
    order: 2;
}

#contact .follow-wrap .video-col > .e-con-inner{
    gap: 20px;
}

#contact .video-wrap .video-col .video-block img{
    width: 100%;
}

#contact .video-wrap .text-col{
    width: 100%;
    order: 1;
    text-align: center;
    margin-bottom: 20px;
}

#contact .text-col .elementor-widget-container{
    transform: rotate(0);
}

}

@media (max-width: 900px) {
#contact h3 span{
    font-size: 32px;
}

#contact h3{
    font-size: 30px;
} 

#contact h3 br{
    display: none;
}

#contact .contact-wrap > .e-con-inner{
    gap: 40px;
}  

#contact .video-wrap .video-col{
    width: 90%;
}

#contact .mee-img{
    width: 140px;
}
  
}

@media (max-width: 767px) {
#contact .elementor-button{
    width: 240px;
}

#contact .elementor-button .btn-link{
    font-size: 20px;
}

#contact{
    padding: 4rem 0;
}

#contact h3 br{
    display: block;
}

#contact p{
    width: 500px;
}

#contact .info-block .elementor-image-box-content{
    text-align: left;
}
    
#contact .contact-wrap, #contact .follow-wrap{
    width: 85%;
}

#contact .contact-wrap .right-col{
    display: none;
}

#contact .contact-wrap .left-col{
    width: 100%;
}

#contact .contact-img-xs{
    display: block;
    margin-bottom: 40px;
}

#contact .video-wrap .video-col{
    width: 100%;
}

#contact .video-wrap .video-col > .e-con-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#contact .elementor-button {
    margin-left: auto;
    margin-right: auto;
}
  
}

@media (max-width: 700px) {

   
}

@media (max-width: 600px) {
#contact p{
    width: auto;
}

#contact .mee-img{
    width: 130px;
}

#contact .video-wrap > .e-con-inner{
    gap: 15px;
}

#contact .video-wrap .video-col > .e-con-inner{
    gap: 15px;
}

}

@media (max-width: 500px) {
#contact h3 br{
    display: none;
}

#contact .video-wrap .video-col > .e-con-inner{
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
}
   
}

@media (max-width: 400px) {
#contact h3 span{
    font-size: 30px;
}

#contact h3{
    font-size: 28px;
} 

#contact .mee-img{
    width: 120px;
}
   
}/* End custom CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */